<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{request.static_url('cobra:static/cobra.css')}}"/>
    <script type="text/javascript" src="{{request.static_url('cobra:lib/d3.v5.min.js')}}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- {% block javascript %}
        <script>
          console.log({{zipcode}});
          test = "{{county}}";
        </script>
    {% endblock %} -->
    <meta id="criteriadata"
          data-zipcode="{{zipcode}}"
          data-minbed="{{minbed}}"
          data-maxbed="{{maxbed}}"
          data-minbath="{{minbath}}"
          data-maxbath="{{maxbath}}"
          data-minbuilt="{{minbuilt}}"
          data-maxbuilt="{{maxbuilt}}"
          data-minlotsize="{{minlotsize}}"
          data-maxlotsize="{{maxlotsize}}"
          data-lat="{{lat}}"
          data-lon="{{lon}}"
          data-initcash = "{{initcash}}"
          data-yearlysalary = "{{yearlysalary}}"
          data-yearlyraise = "{{yearlyraise}}"
          data-numyears = "{{numyears}}"
          >
  </head>

  <body>
    <input type="hidden" id="queryHouseByCounty" name="queryHouseByCounty" value="{{queryHouseByCounty}}">
    <!-- Image loader -->
    <div id='loader'>
      <img src='{{request.static_url('cobra:static/loading3.gif')}}'>
    </div>
    <div id="popupBackground"></div>
    <!-- Image loader -->

    <div class="container-fluid">
      <div class="options-box">
        <h1>MAP of <b>{{county}}</b> County</h1>
        <form>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="recommendation" name="recommendation" checked>
            <label class="form-check-label" for="recommendationCheck">Rent vs Buy Recommendation</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="medianPrice" name="medianPrice">
            <label class="form-check-label" for="medianPriceCheck">Median Price</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="meanPrice" name="meanPrice">
            <label class="form-check-label" for="meanPriceCheck">Mean Price</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="meanTax" name="meanTax">
            <label class="form-check-label" for="meanTaxCheck">Tax Average</label>
          </div>

        </form>
        <div id="tableinfo">

        </div>
        <!-- <form method="POST" action="${request.current_route_url()}"> -->
        <!-- <form method="POST">
          <div class="form-group">
            <label for="livecityinput">Where would you like to live?</label>
            <input type="text" class="form-control" id="livecity" placeholder="Zip or city">
          </div>
          <div class="form-group">
            <label for="cashinput">Total cash assets available:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text" class="form-control" id="cash" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="yearsalaryinput">Yearly Salary:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text" class="form-control" id="yearsalary" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="projectraiseinput">Project yearly raise %:</label>
            <input type="text" class="form-control" id="projectraise" placeholder="">
          </div>
          <div class="form-group">
            <label for="occupyyearinput">Number of years to occupy:</label>
            <input type="text" class="form-control" id="occupyyear" placeholder="Number only">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="btn-group form-group" role="group">
            <input id="show-listings" type="button" class="btn btn-secondary" value="Show Median">
            <input id="hide-listings" type="button" class="btn btn-secondary" value="Hide Median">
          </div>
        </form> -->
      </div>
      <div id="map"></div>
    </div>
    <script src="{{request.static_url('cobra:static/cobra.js')}}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBTWHYOjv0vSKoZCrFOgFHiEnjNMxVuXU&v=3&callback=initMap">
    </script>

  </body>
</html>
