<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{request.static_url('cobra:static/cobra.css')}}"/>
    <script type="text/javascript" src="{{request.static_url('cobra:lib/d3.v5.min.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <meta
      id="criteriadata"
      data-zipcode="{{zipcode}}"
      data-minbed="{{minbed}}"
      data-maxbed="{{maxbed}}"
      data-minbath="{{minbath}}"
      data-maxbath="{{maxbath}}"
      data-minbuilt="{{minbuilt}}"
      data-maxbuilt="{{maxbuilt}}"
      data-minlotsize="{{minlotsize}}"
      data-maxlotsize="{{maxlotsize}}"
      data-lat="{{lat}}"
      data-lon="{{lon}}"
      data-initbudget = "{{initbudget}}"
      data-downpayment = "{{downpayment}}"
      data-yearlyraise = "{{yearlyraise}}"
      data-numyears = "{{numyears}}"
    >
  </head>

  <body>
    <input type="hidden" id="queryHouseByCounty" name="queryHouseByCounty" value="{{queryHouseByCounty}}">
    <!-- Image loader -->
    <div id='loader'>
      <img src="{{request.static_url('cobra:static/loading3.gif')}}">
    </div>
    <div id="popupBackground"></div>

    <div class="container-fluid">
      <div class="options-box">
        <h1>MAP of <b>{{county}}</b> County</h1>
        <form>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="recommendation" name="recommendation" checked>
            <label class="form-check-label" for="recommendationCheck">Rent vs Buy Recommendation</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="medianPrice" name="medianPrice">
            <label class="form-check-label" for="medianPriceCheck">Median Price</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="meanPrice" name="meanPrice">
            <label class="form-check-label" for="meanPriceCheck">Mean Price</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="meanTax" name="meanTax">
            <label class="form-check-label" for="meanTaxCheck">Tax Average</label>
          </div>
        </form>
        <div id="dotinfo">
          <div>
            <span class="legendBuy"></span>
            <span>Buy</span>
          </div>
          <div>
            <span class="legendRent"></span>
            <span>Rent</span>
          </div>
          <div>
            <span class="legendExclude"></span>
            <span>Exclude</span>
          </div>
        </div>
        <hr>
        <div class="alert alert-warning" role="alert">
          Click dots to see additional details
        </div>
      </div>
      <div id="map"></div>
    </div>
    <script src="{{request.static_url('cobra:static/cobra.js')}}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBTWHYOjv0vSKoZCrFOgFHiEnjNMxVuXU&v=3&callback=initMap">
    </script>
  </body>
</html>
