<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>COBRA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{request.static_url('cobra:static/home.css')}}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{request.static_url('cobra:static/home.js')}}"></script>
    <script type="text/javascript" src="../lib/d3.v5.min.js"></script>
    <script type="text/javascript" src="../lib/d3-dsv.min.js"></script>
    <script type="text/javascript" src="../lib/d3-fetch.min.js"></script>
    <script type="text/javascript">
      var zipList = []
      // load csv zip data
      d3.dsv(",", "../static/cobraZipCodeGeo.csv", function(d) {
        return {
          code: d.zipcode
        }
      }).then(function(data) {
        data.forEach(zip => {
          zipList.push(zip.code)
        })
      })
      // ZIP Validation
      function validateZip() {
        var cityZip = document.forms["userInputForm"]["livecity"].value;
        if (!zipList.includes(cityZip)) {
          if (parseInt(cityZip) > 90000 && parseInt(cityZip) < 93561) {
            alert("Please enter a validated LA zip code");
            return false;
          } else {
            alert("LA zip code should be in [90001, 93560]");
            return false;
          }
        }
      }
    </script>
  </head>

  <body>
    <div class="container">
        <form name="userInputForm" class="form-home" method="POST" action="{{request.current_route_url()}}" onsubmit="return validateZip()">
          <div class="div-logo">
            <img src="{{request.static_url('cobra:static/cobralogo.png')}}">
          </div>
          <div class="row div-row">
            <div class="col">
              <label for="livecityinput">Where would you like to live (Zip Code only)?</label>
              <input type="number" class="form-control" id="livecity" name="livecity" value="90001" required>
            </div>
          </div>

          <div class="row div-row">
            <div class="col">
              <label for="inputBedroom">Desired Bed Room: </label>
              <input type="text" id="inputBedroom" name="inputBedroom" readonly style="border:0; color:#f6931f; font-weight:bold; background-color: #f5f5f5;">
              <div id="slider-bedroom"></div>
            </div>
            <div class="col">
              <label for="cashassetsinput">Initial Monthly Budget</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" id="initbudget" name="initbudget" value="3000" min="0" required>
              </div>
            </div>
          </div>

          <div class="row div-row">
            <div class="col">
              <label for="inputBathroom">Desired Bath Room</label>
              <input type="text" id="inputBathroom" name="inputBathroom" readonly style="border:0; color:#f6931f; font-weight:bold; background-color: #f5f5f5;">
              <div id="slider-bathroom"></div>
            </div>
            <div class="col">
              <label for="yearsalaryinput">Desired Down Payment</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" id="downpayment" name="downpayment" value="120000" min="0" required>
              </div>
            </div>
          </div>

          <div class="row div-row">
            <div class="col">
              <label for="inputYearBuilt">Year Built: </label>
              <input type="text" id="inputYearBuilt" name="inputYearBuilt" readonly style="border:0; color:#f6931f; font-weight:bold; background-color: #f5f5f5;">
              <div id="slider-yearbuilt"></div>
            </div>
            <div class="col">
              <label for="projectraiseinput">Expected Annual Raise (%)</label>
              <input type="number" class="form-control" id="yearlyraise" name="yearlyraise" value="3" min="0" max="100" required>
            </div>
          </div>

          <div class="row div-row">
            <div class="col">
              <label for="inputLotSize">Living Square Feet (sqrt): </label>
              <input type="text" id="inputLotSize" name="inputLotSize" readonly style="border:0; color:#f6931f; font-weight:bold; background-color: #f5f5f5;">
              <div id="slider-lotsize"></div>
            </div>
            <div class="col">
              <label for="occupyyearinput">Number of years to occupy</label>
              <input type="number" class="form-control" id="numyears" name="numyears" value="5" min="1" max="40" required>
            </div>
          </div>

          <div class="row div-row">
            <div class="col" style="text-align: center;" width="20%">
                <button type="submit" name="submit" id="submitButton" class="btn btn-primary btn-lg">Submit</button>
            </div>
          </div>

          <input type="hidden" id="minBedroom" name="minBedroom" value="2">
          <input type="hidden" id="maxBedroom" name="maxBedroom" value="3">
          <input type="hidden" id="minBathroom" name="minBathroom" value="1">
          <input type="hidden" id="maxBathroom" name="maxBathroom" value="2">
          <input type="hidden" id="minYearbuilt" name="minYearbuilt" value="1945">
          <input type="hidden" id="maxYearbuilt" name="maxYearbuilt" value="2000">
          <input type="hidden" id="minLotSize" name="minLotSize" value="0">
          <input type="hidden" id="maxLotSize" name="maxLotSize" value="12000">

        </form>
    </div>

  </body>
</html>
