path {
  stroke: rgb(189, 188, 188);
  stroke-width: .5px;
}

path:hover {
  stroke: #696969;
  stroke-width: 1px;
}

.rectLegend {
  stroke-width: 0.5px;
  stroke : black;
}

.Legend {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.legendTit {
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}